.divider[b-drcx5ghx65]:after,
.divider[b-drcx5ghx65]:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom[b-drcx5ghx65] {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom[b-drcx5ghx65] {
        height: 100%;
    }
}